
.cart-container{
    margin: 0 1rem;
}
.items{
    font-size:1.75rem ;
    margin: 1rem 0;
}
.card-cart{
    border: none;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.card-image-cont{
    background-color : #343539;
    border-radius: 9px;
    border: 1px solid #232323;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 43px 66px;
} 
.card-image-cart{
    border-radius: 9px;
    width: 289px;
height: 289px;
flex-shrink: 0;
    object-fit: contain;
}
.card-details{
    width: 100%;
}
.title{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.delivery{
    font-style: italic;
}
.price-details{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
}
.price1{
    font-size: 1.5rem;
    font-weight: 700;
}
.offer{
    color: #4CEC96; 
}
.quantity-box{
    border: 1px solid #232323;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-bottom: 2rem;
}
.quantity-b1{
    border: none;
    color: white;
    padding: 0 1rem; 
    background-color: #1c1c1c;
    cursor: pointer;
    border-radius: 0;
    border-right: 2px solid #FFF;
}
.quantity-b2{
    border: none;
    color: white;
    padding: 0 1rem; 
    background-color: #1c1c1c;
    cursor: pointer;
    border-radius: 0;
    border-left: 2px solid #FFF;
}
.number{
    margin: 0 1rem;
}
.quantity{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.buy-remove{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top:2rem ;
    margin-top: 10px;
    border-top: 1px solid #FFF;
}
.buy-now{
    background-color: #8881EA;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.remove{
    background-color: #1c1c1c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    border: 1px solid #FFF;
    cursor: pointer;
}
@media screen and (min-width: 500px){
    .cart-container{
        margin: 0 2rem;
    }
    .card-image-cont{
        height: 480px;
    }
    .card-image-cart{
        width: 349px;
        height: 349px;
        max-height: 349px !important; 
        flex-shrink: 0;
    }
    .title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    /* .quantity-box{
        border: 1px solid #232323;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        margin-bottom: 2rem;
    }
    .quantity-b1{
        border: none;
        color: white;
        padding: 0 1rem; 
        background-color: #1c1c1c;
        cursor: pointer;
        border-right: 1px solid #FFF;
    }
    .quantity-b2{
        border: none;
        color: white;
        padding: 0 1rem; 
        background-color: #1c1c1c;
        cursor: pointer;
        border-left: 1px solid #FFF;
    } 
    .number{
        margin: 0 1rem;
        
    }*/
    .quantity{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .price-details{
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
    }
    .buy-remove{
        display: flex;
        flex-direction: row;
        padding-top:2rem ;
        gap:1.5rem;
        margin-top: 10px;
        border-top: 1px solid #FFF;
    }
    .buy-now{
        background-color: #8881EA;
        color: white;
        padding: 20px;
        border: none;
        width: 60vw;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
    .remove{
        background-color: #1c1c1c;
        color: white;
        padding: 20px;
        border: none;
        width: 40vw;
        border-radius: 5px;
        border: 1px solid #FFF;
        cursor: pointer;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 769px){
    .card-cart{
        border: none !important;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .card-image-cont{
        width: 40%;
        height: 400px;
    }
    .card-image-cart{
        height: 349px !important;
max-height: 349px !important;
flex-shrink: 0;
    }
    .card-details{
        width: 60%;
    }
    .title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .buy-now{
        width: 40vw;
    }
    .remove{
        width: 20vw;
    }
}

@media screen and (min-width: 1000px){
    .items{
        font-size:2.25rem ;
        margin: 1rem 0;
    }
    .cart-container{
        margin: 0 4rem;
    }
    .card-cart{
        gap: 2rem;
    }
    
}

@media screen and (min-width: 1440px){
    .cart-image-cont{

    }
}