.our-services-title {
    color: rgba(255, 255, 255, 0.75);
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 12.695px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
      
};

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btnContainer button {
    display: flex;
    width: 174px;
    padding: 14.5px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #8881EA;
    color: #ECEBFF;
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    border:0;
}

