.aboutus-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  max-width: 1300px;
  margin: 0 auto;
}

/* For large screens and up */

.about-us-heading {
  font-size: 30px;
  font-weight: 700;
}

.aboutus-hero-description {
  max-width: 450px;
  margin-top: 10px;
  opacity: 0.8;
  font-size: 12px;
}

.image-container {
  position: relative;
}
.aboutus-hero-img {
  width: 100%;
}

.logo-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #353434;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.logo-center {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.star {
  width: 100%;
  height: 100%;
  background-color: #8b88ff;
  clip-path: polygon(
    50% 0%,
    65% 35%,
    100% 50%,
    65% 65%,
    50% 100%,
    35% 65%,
    0% 50%,
    35% 35%
  );
}

.rotating-text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 8s linear infinite;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotating-text span {
  position: absolute;
  transform-origin: 50px 50px; /* Match half of 100px wrapper */
  font-size: 11px;
  font-weight: bold;
  color: white;
}
.aboutus-hero-text-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
}
@media (min-width: 600px) {
 
  .logo-wrapper {
    top: 50px;
    width: 170px;
    height: 170px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
  }
  .about-us-heading {
    font-size: 80px;
    text-align: center;
  }

  .rotating-text span {
    transform-origin: 85px 85px; /* Half of 170px wrapper */
    font-size: 18px;
  }
  .aboutus-hero-description {
  font-size: 16px;
}

}

@media (min-width: 1024px) {
  .aboutus-hero-container {
    flex-direction: row;
    display: flex;
    align-items: end;
  }
 
  .aboutus-hero-description {
    font-size: 16px;
  }
   .about-us-heading {
    font-size: 80px;
  }
  .logo-wrapper {
    top: 180px;
    width: 170px;
    height: 170px;
    left: -70px;
     margin: 0 0;
  }
  .rotating-text span {
    transform-origin: 85px 85px; /* Half of 170px wrapper */
    font-size: 18px;
  }
  .aboutus-hero-img {
    width: 100%;
  }

}



.rotating-text span:nth-child(1) {
  transform: rotate(0deg) translate(60px) rotate(0deg);
}
.rotating-text span:nth-child(2) {
  transform: rotate(30deg) translate(60px) rotate(-30deg);
}
.rotating-text span:nth-child(3) {
  transform: rotate(60deg) translate(60px) rotate(-60deg);
}
.rotating-text span:nth-child(4) {
  transform: rotate(90deg) translate(60px) rotate(-90deg);
}
.rotating-text span:nth-child(5) {
  transform: rotate(120deg) translate(60px) rotate(-120deg);
}
.rotating-text span:nth-child(6) {
  transform: rotate(150deg) translate(60px) rotate(-150deg);
}
.rotating-text span:nth-child(7) {
  transform: rotate(180deg) translate(60px) rotate(-180deg);
}
.rotating-text span:nth-child(8) {
  transform: rotate(210deg) translate(60px) rotate(-210deg);
}
.rotating-text span:nth-child(9) {
  transform: rotate(240deg) translate(60px) rotate(-240deg);
}
.rotating-text span:nth-child(10) {
  transform: rotate(270deg) translate(60px) rotate(-270deg);
}
.rotating-text span:nth-child(11) {
  transform: rotate(300deg) translate(60px) rotate(-300deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 599px) {
  .rotating-text span {
    transform-origin: 50px 50px;
    font-size: 13px;
  }
  .rotating-text span:nth-child(1) {
  transform: rotate(0deg) translate(35px) rotate(0deg);
}
.rotating-text span:nth-child(2) {
  transform: rotate(30deg) translate(35px) rotate(-30deg);
}
.rotating-text span:nth-child(3) {
  transform: rotate(60deg) translate(35px) rotate(-60deg);
}
.rotating-text span:nth-child(4) {
  transform: rotate(90deg) translate(35px) rotate(-90deg);
}
.rotating-text span:nth-child(5) {
  transform: rotate(120deg) translate(35px) rotate(-120deg);
}
.rotating-text span:nth-child(6) {
  transform: rotate(150deg) translate(35px) rotate(-150deg);
}
.rotating-text span:nth-child(7) {
  transform: rotate(180deg) translate(35px) rotate(-180deg);
}
.rotating-text span:nth-child(8) {
  transform: rotate(210deg) translate(35px) rotate(-210deg);
}
.rotating-text span:nth-child(9) {
  transform: rotate(240deg) translate(35px) rotate(-240deg);
}
.rotating-text span:nth-child(10) {
  transform: rotate(270deg) translate(35px) rotate(-270deg);
}
.rotating-text span:nth-child(11) {
  transform: rotate(300deg) translate(35px) rotate(-300deg);
}
  /* ... and same for other nth-childs */
}
/* Mobile responsiveness */
