/* orderdesign */
.orders-section {
  background-color: #2d2d30;
  padding: 20px;
  border-radius: 8px;
}

.orders-header {
  display: flex;
  gap: 60px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

.orders-tab {
  color: #9e9ea7;
  font-weight: 500;
  cursor: pointer;
}

.orders-tab.active {
  color: #6c63ff;
}

.order-card {
  background-color: #3a3a3d;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.order-details {
  display: flex;
  gap: 20px;
}

.order-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.product-details {
  font-size: 14px;
}

.cancel-button {
  align-self: flex-end;
  padding: 8px 16px;
  /* background-color: #6c63ff; */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #5a52e0;
}
