/* orderdesign */
.orders-section {
  padding: 20px;
  border-radius: 8px;
}

.orders-header {
  display: flex;
  gap: 60px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.orders-tab {
  font-family: "Verdana Regular", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}


.orders-tab.active {
  text-decoration-line: underline;
  color: #8881ea;
}

.order-card {
  padding: 14px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  gap: 25px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.order-info span {
  font-family: "Verdana Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #c8c8c8;
}

.order-details {
  display: flex;
  background-color: #262626;
  gap: 20px;
  padding: 20px 10px;
  border-radius: 10px;
}

.order-image-container {
  padding: 50px;
  background-color: #343539;
  border-radius: 8px;
}

.order-image {
  width: 170px;
  height: 170px;
}

.order-card .product-details {
  font-family: "Verdana Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #a8a7a7;
}

.cancel-button {
  align-self: flex-end;
  padding: 8px 16px;
  /* background-color: #6c63ff; */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #5a52e0;
}

.dwn-btn{
  background-color: #33333F;
}

.submit-btn{
  width: 300px;
}
.login-form-pass{
  justify-content: flex-start;
  background: #202020 !important;
  height: 100% !important;
  min-height: 100% !important;
  display: flex;
  flex: 1 !important;
  gap: 32px;
  flex-direction: column;
  padding-inline: 32px;
}
.login-container-pass{
  background-color: #202020 !important;
width: 100%;
border-radius: 16px;
background: #202020 !important;

display: flex;
flex: 1 !important;
justify-content: center;
gap: 32px;
flex-direction: column;
padding-inline: 32px;
margin-top: 30px;
}
.login-container-pass form .form-title {
  font-family: "Verdana Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.login-container-pass form .inp-grp {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inp-grp label{
  font-size: 18px;
  font-weight: 400;
  color: #C8C8C8;
  font-family: Verdana;

}

@media screen and (max-width: 900px) {
  .orders-header{
    justify-content: center;
  }
  .login-form-pass{
    padding-inline: 0px;
  }
  
}
@media screen and (max-width: 500px) {

  .order-details {
    flex-direction: column;
  }
  .orders-header{
    gap: 20px;
    padding-bottom: 30px ;
  }
  .orders-tab{
    font-size: 16px;
  }
  .submit-btn{
    width: 300px;
  }
  .order-card{
    padding: 0px 0px 30px 0px;
  }
  .order-info{
    flex-direction: column;
    gap: 1rem;
  }
  .order-image-container{
    padding: 50px 100px;
  }
  .order-image{
    width: 170px;
    height: 170px;
    
  }
  .login-form-pass{
    padding-inline: 0px;
  }
  .login-container-pass{
  
  width: 100%;
  border-radius: 16px;
  background: #202020 !important;
  display: flex;
  flex: 1 !important;
  justify-content: center;
  gap: 32px;
  flex-direction: column;
  padding-inline: 0px;
  }
  .login-container-pass form .form-title {
    font-family: "Verdana Regular", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
@media screen and (max-width: 450px) {
  .order-image-container{
    padding: 50px 90px;
  }
  
}
@media screen and (max-width: 400px) {
  .order-image-container{
    padding: 50px 70px;
  }
  
  
}
@media screen and (max-width: 350px) {
  .order-image-container{
    padding: 50px 45px;
  }
  .submit-btn{
    width: 260px;
  }
}