.product-name {
  font-family: "Verdana Regular";
  font-size: 36px;
  font-weight: 400;
  line-height: 43.75px;
  letter-spacing: 0.01em;
  text-align: left;
}

.product-price {
  font-family: "Verdana Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  color: rgba(225, 225, 225, 0.87);
}

.product-muted {
  font-family: "Verdana Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-decoration: line-through;
  text-align: left;
}

.product-sub-title {
  font-family: Verdana;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: rgba(225, 225, 225, 0.87);
}

.quantity {
  border: 1px solid #232323;
  padding: 4px 10px;
  border-radius: 5px;
}

.quantity span {
  font-family: "Lato Bold", "Verdana Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid rgba(225, 225, 225, 0.87);
}

.quantity span:last-child {
  border-right: none;
}

.product-colors span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.product-colors span {
  width: 20px;
  height: 20px;
}

.product-colors span:first-child {
  border: 2px solid #4f9ffe;
  background-color: #2e65a6;
}

.product-colors span:nth-child(2) {
  background-color: #ee3f4c;
}

.product-colors span:nth-child(3) {
  background-color: #f0afcd;
}

.product-colors span:nth-child(4) {
  background-color: #e69d52;
}

.borderDiv {
  padding: 10px 0px;
  border-bottom: 1px solid #ffffff4d;
}

.section-title {
  font-family: "Verdana Regular";
  font-size: 36px;
  font-weight: 400;
  line-height: 43.75px;
  letter-spacing: 0.01em;
  text-align: left;
}

.oftenPurchasedProductCard {
  width: 234px;
}

.oftenPurchasedProductCard .card-title {
  display: -webkit-box; /* Enables the line-clamp effect */
  -webkit-line-clamp: 1; /* Limits to 1 line */
  -webkit-box-orient: vertical; /* Specifies vertical box orientation */
  overflow: hidden; /* Hides any overflow text */
  text-overflow: ellipsis; /* Adds "..." at the end of the truncated text */
}

.oftenPurchasedItems {
  border-right: 1px solid #ffffff4d;
  padding-right: 20px;
}
