footer {
  padding: 36px 59px;
  background: rgba(24, 24, 24, 1);
}

footer .footer-logo {
  height: 99px;
  width: 95px;
  margin-right: 54px;
}

footer .footer-logo img {
  height: 100%;
  width: 100%;
}

footer .footer-links {
  display: flex;
  flex-direction: column;
}

footer hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 72px;
}

footer .footer-text {
  font-family: "Lato Regular", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

footer .footer-head {
  font-family: "Verdana Regular";
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
