@import "@/assets/Fonts/Fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c !important;
}

.home-sections {
  gap: 40px;
  overflow: hidden;
  padding-right: 0px;
}

.home-sections h2 {
  font-weight: 400;
  letter-spacing: calc(36px * 0.01);
}

.icons img,
.icon.img {
  cursor: pointer;
  display: inline-block !important;
  position: static !important;
  opacity: 1;
}

.swiper-container {
  width: 100%;
}

.home-sections-header {
  padding-right: 80px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

section {
  padding: 84px 80px;
  gap: 40px;
}
.div-info{
  background-color: #202020;
  padding: 42px;
}

.heading-info{
  font-size: 24px;
  font-weight: 700;
  line-height: 29.17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 14px;
  margin-top: 42px;
}
.para{
  font-size: 16px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 24px;
  
}
@media (max-width: 744px) {
  section {
    padding: 42px 27px;
    gap: 36px;
  }
}

@media (max-width: 375px) {
  section {
    padding: 28px 16px;
    gap: 26px;
  }
}

/* .home-sections .icons {
  height: 24px;
} */

/* .home-sections .icons img {
  height: 24px;
  width: 24px;
  object-fit: contain;
} */

@media (max-width: 1280px) {
  /* .home-sections .icons {
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
  } */
}

@media (max-width: 824px) {
  .home-sections h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.17px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .home-sections-header {
    padding-right: 33px;
  }
}

@media (max-width: 520px) {
  .home-sections-header {
    padding-right: 16px;
  }
}

.icons {
  height: 0px;
}

@media (max-width: 375px) {
  .home-sections-header h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.88px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}

footer .show-1024-flex {
  display: none;
}

@media (max-width: 1024px) {
  footer .show-1024-flex {
    display: flex !important;
  }

  footer .hide-1024 {
    display: none !important;
  }
}

section {
  padding-inline: 80px !important;
}

@media (max-width: 834px) {
  section {
    padding-inline: 33px !important;
  }
}

@media (max-width: 560px) {
  section {
    padding-inline: 16px !important;
  }
}

.btn-products {
  color: rgba(255, 255, 255, 0.75) !important;
  font-family: "Nunito Bold", sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.75) !important;
  background: transparent !important;
  padding: 11px 34px !important;
  border-radius: 6px !important;
}

/* .dropdown-menu {
  background-color: none;
}

.dropdown-menu li a {
} */

.btn-blue {
  background: #008dd3;
  font-family: "Verdana Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 16px 64px;
  border: none;
}

.content-sections {
  min-height: 900px;
}


.subHeading {
  color: rgba(200, 200, 200, 0.6);
  font: Verdana;
  font-size: 16px;
  letter-spacing: "1.12px";
  line-height: 24px;
  text-transform: uppercase;
}

.heading {
color: rgba(255, 255, 255, 0.75);
font-family: Verdana;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 32px;
  }
  .subHeading {
    font-size: 14px;
  }
}

section.Toastify {
  padding: 0px !important;
}



/* toastStyles.css */

/* Override default container styles */
.Toastify__toast-container {
  z-index: 9999; /* Keep it on top */
}

/* Custom Toast Styles */
.Toastify__toast {
  border-radius: 8px; /* Rounded corners */
  padding: 16px; /* Add some padding */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}

/* Success Toast */
.Toastify__toast--success {
  background-color: #1c1c1c !important; /* Custom green background */
  color: #ffffff !important; /* White text */
}

/* Info Toast */
.Toastify__toast--info {
  background-color: #1c1c1c !important; /* Custom blue background */
  color: #ffffff !important;
}

/* Error Toast */
.Toastify__toast--error {
  background-color: #1c1c1c !important; /* Custom red background */
  color: #ffffff !important;
}


/* Warning Toast */
.Toastify__toast--warning {
  background-color: #ff9800 !important; /* Custom orange background */
  color: #ffffff !important;
}

/* Toast Close Button */
.Toastify__close-button {
  color: #ffffff !important; /* Make close button white */
  opacity: 1;
}

/* Progress Bar */
.Toastify__progress-bar {
  background-color: #ffffff !important; /* White progress bar */
}

.border-custom-light{
  border: 1px solid rgba(255, 255, 255, 0.10) !important;
}