@import "@/assets/Fonts/Fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-sections {
  gap: 40px;
  overflow: hidden;
  padding-right: 0px;
}

.home-sections h2 {
  font-weight: 400;
  letter-spacing: calc(36px * 0.01);
}

.icons img,
.icon.img {
  cursor: pointer;
  display: inline-block !important;
  position: static !important;
  opacity: 1;
}

.swiper-container {
  width: 100%;
}

.home-sections-header {
  padding-right: 80px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

section {
  padding: 84px 80px;
  gap: 40px;
}

@media (max-width: 744px) {
  section {
    padding: 42px 27px;
    gap: 36px;
  }
}

@media (max-width: 375px) {
  section {
    padding: 28px 16px;
    gap: 26px;
  }
}

/* .home-sections .icons {
  height: 24px;
} */

/* .home-sections .icons img {
  height: 24px;
  width: 24px;
  object-fit: contain;
} */

@media (max-width: 1280px) {
  /* .home-sections .icons {
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
  } */
}

@media (max-width: 824px) {
  .home-sections h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.17px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .home-sections-header {
    padding-right: 33px;
  }
}

@media (max-width: 520px) {
  .home-sections-header {
    padding-right: 16px;
  }
}

.icons {
  height: 0px;
}

@media (max-width: 375px) {
  .home-sections-header h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.88px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}

footer .show-1024-flex {
  display: none;
}

@media (max-width: 1024px) {
  footer .show-1024-flex {
    display: flex !important;
  }

  footer .hide-1024 {
    display: none !important;
  }
}

section {
  padding-inline: 80px !important;
}

@media (max-width: 834px) {
  section {
    padding-inline: 33px !important;
  }
}

@media (max-width: 560px) {
  section {
    padding-inline: 16px !important;
  }
}
