.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
    transform: translateY(100px);
}

.toast-container.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(100px);
}

.toast-container.hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100px);
}

.toast {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Ensure it doesn't stretch out too far */
    margin: 0 auto;
    text-align: center;
}
