/* Ensure product-image-container is 100% of the parent height */
.product-image-container {
  display: flex;
  justify-content: space-between;
  height: 100%;  /* Take up the full height of the parent */
}

/* Left Column for Thumbnails */
.product-image-thumbnails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;  /* Ensure thumbnails take full height of container */
  width: 25%;
  overflow-y: auto;
}

/* Right Column for Main Image */
.product-main-image {
  width: 70%;
  height: 100%;  /* Ensure the main image takes full height */
}

.product-main-image img {
  object-fit: cover;
  height: 100%;  /* Ensures the image fits within the full height */
  width: 100%;   /* Ensures the image fits within the full width */
  min-height: 466px;
}

/* Thumbnails styling */
.product-image-thumbnail img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Add hover effect to thumbnails */
.product-image-thumbnail img:hover {
  transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-image-container {
    width: 100%;
    height: auto;  /* Allow the height to adjust */
  }



  .product-image-thumbnails {
    display: none !important; 
  }

  .product-main-image {
    width: 100%;
  }
}